<%= stylesheet_link_tag 'social/me', media: 'all', 'data-turbolinks-track' => true %>

<script>
  function do_timeago(){
    $("abbr.timeago").timeago();
  }
  var change_view = function(a){
    var n=$(a).data("number");
    console.log(typeof(n));
    $('.menu_btn').removeClass("active");
    $(a).addClass("active");
    $('.section_active').addClass('section_inactive').removeClass('section_active');
    $('#section_'+n).addClass('section_active').removeClass('section_inactive');
  }
  $(function () {
    window.setTimeout(function(){do_timeago();},600);
    $('.menu_btn').attr("onClick","change_view(this)");
    $("#pots_type").val("Post");
  });
  var update = function(a){
    alert($("#pots_type").val());
    $("#pots_type").val("Pic");
    alert($("#pots_type").val());
    readURL(a);
  }
  function setURLs(){
    $(".playButton").each(function(){
        play_Btn($(this));
    });
}
function play_Btn(elem){
    $(elem).attr("src","https://embed.spotify.com/?uri="+$(elem).data("uris"));
}

</script>
<div class="cover">
  <p class="Username">@<%=@u.username%></p>
  <%if !@me%>

    <div class="sp-btn follow" id="follow" data-username="<%=@u.id%>"> <i class="fa fa-plus"></i>
    <span id="ftext"> <%if check_friendship(current_user.id, @u.id)[0].nil? %>Follow<%else%>Unfollow<%end%> </span></div>

    <div class="sp-btn enemy"> <i class="fa fa-warning"></i> Declare War</div>

  <%end%>
</div>
<div class="pp-container">
  <img class="pp" src="<%=@u.avatar.url(:medium)%>">
</div>

<div id="controller" class="submenu" ng-controller="profile-panel" ng-init="start(<%=@u.id%>,<%=current_user.id%>);">
  <ul type="none" class="main_submenu">
    <li class="active menu_btn" data-number="1"><b>{{posts.length}}</b> Posts</li>
    <li class="menu_btn" data-number="2">Enemies</li>
    <li class="menu_btn" ng-click="get_friends()" data-number="3"> <b>{{friends.length}}</b> Follower</li>
  </ul>
  

  <%= form_for(@post,:html => { :multipart => true })  do |f| %>
    <div class="field">

      <%= f.text_area :text, id: :post_place, :placeholder => "Un mensaje" %> <br>
      <img id="preview" />
      <span class="add_pic" onclick="$( '#post_asset' ).trigger( 'click' );">
      <%= f.submit %> <i class="fa fa-camera-retro"></i><span>Add pic</span></span>
      
    </div>
  <%end%>

  <div id="section_1" class="section_active">

    <div class="post" ng-repeat="post in posts | filter:search">
      <img class="profile_post_pic" data-user_id="{{post.user_id.id}}">
      <a href="/u/{{post.user_id.username}}"><h4>{{post.user_id.username}}</h4></a><h1></h1> <sub><abbr class="timeago" title="{{post.updated_at}}"></abbr></sub><br>

      <h3>{{post.text}}</h3> <br>
      <img ng-if="post.post_type=='Pic'" class="pic" data-post_id="{{post.id}}" />
      <iframe ng-show="post.post_type=='Song'" id="{{post.song_uri}}" class="playButton attached_song" src="#" data-uris="{{post.song_uri}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

      <div class="side-controll">
        <a ng-show="posted_at(post.user_id.id,post.posted_at) || owner(post.user_id.id,post.posted_at)" data-confirm="¿Seguro de que quieres borrarlo?" data-method="delete" href="/posts/{{post.id}}" rel="nofollow"><i class="fa fa-times-circle-o"> </i> Delete</a><br>
        <a ng-show="owner(post.user_id.id,post.posted_at)" href="/posts/{{post.id}}/edit"><i class="fa fa-edit"></i> Edit</a>
      </div>
    </div>
  </div>
  
  <div id="section_2" class="section_inactive">
    <div>
      <h2>Nothing to see here, get off</h2>
    </div>
  </div>

  <div id="section_3" class="section_inactive">
  <h1 ng-if="friends.length == 0">Get some friends, dude!</h1>
    <div ng-repeat="f in friends">
      <a href="/u/{{f.user_id.username}}"><h2>{{f.user_id.username}} </h2></a>
      
    </div>
  </div>

  <input class="hidden" id="pots_type" name="post[post_type]" value="Post" type="text" form="new_post">
  <input class="hidden" id="post_posted_at" name="post[posted_at]" value="<%= @u.id%>" type="text" form="new_post">
  <input class="hidden" id="post_asset" name="post[asset]" onchange="update(this)" type="file" form="new_post">

</div>
