<%= stylesheet_link_tag 'social/me', media: 'all', 'data-turbolinks-track' => true %>

<script>
  function do_timeago(){
    $("abbr.timeago").timeago();
  }
  var change_view = function(a){
    var n=$(a).data("number");
    console.log(typeof(n));
    $('.menu_btn').removeClass("active");
    $(a).addClass("active");
    $('.section_active').addClass('section_inactive').removeClass('section_active');
    $('#section_'+n).addClass('section_active').removeClass('section_inactive');
  }
  $(function () {
    window.setTimeout(function(){do_timeago();},600);
    $('.menu_btn').attr("onClick","change_view(this)");
    $("#pots_type").val("Post");
  });
  var update = function(a){
    alert($("#pots_type").val());
    $("#pots_type").val("Pic");
    alert($("#pots_type").val());
    readURL(a);
  }
  function setURLs(){
    $(".playButton").each(function(){
        play_Btn($(this));
    });
}
function play_Btn(elem){
    $(elem).attr("src","https://embed.spotify.com/?uri="+$(elem).data("uris"));
}

</script>
<div class="cover">
  <p class="Username">@<%=@u.username%></p>
  <%if !@me%>

    <div class="sp-btn follow" id="follow" data-username="<%=@u.id%>"> <i class="fa fa-plus"></i>
    <span id="ftext"> <%if check_friendship(current_user.id, @u.id)[0].nil? %>Follow<%else%>Unfollow<%end%> </span></div>

    <div class="sp-btn enemy"> <i class="fa fa-warning"></i> Declare War</div>

  <%end%>
</div>
<div class="pp-container">
  <img class="pp" src="<%=@u.avatar.url(:medium)%>">
</div>

<div id="controller" class="submenu" ng-controller="profile-panel" ng-init="start(<%=@u.id%>,<%=current_user.id%>);">
  <ul type="none" class="main_submenu">
    <li class="active menu_btn" data-number="1"><b>{{posts.length}}</b> Posts</li>
    <li class="menu_btn" data-number="2">Enemies</li>
    <li class="menu_btn" ng-click="get_friends()" data-number="3"> <b>{{friends.length}}</b> Follower</li>
    <%if !@me%><li><a href="/message/<%=@u.id%>">Get in touch</a></li><%end%>
  </ul>
  

  <%= form_for(@post,:html => { :multipart => true })  do |f| %>
    <div class="field">

      <%= f.text_area :text, id: :post_place, :placeholder => "Un mensaje" %> <br>
      <img id="preview" />
      <%= f.submit %>
      &nbsp;
      <span class="add_pic" onclick="$( '#post_asset' ).trigger( 'click' );">
       <i class="fa fa-camera-retro"></i><span>Add pic</span></span>
       &nbsp;
      <span class="add_pic" onclick="share_song(['text','song_uri','posted_at'],['!ask_for_text','spotify:track:77OuOZhDxJSQLYnNIpX2AG','<%= @u.id%>'])"><i class="fa fa-music"></i><span>Add Song (in development)</span></span>
    </div>
  <%end%>

  <div id="section_1" class="section_active">
        {{post_favs[0][0].user_id.id}}
    <div class="post" ng-repeat="item in posts | filter:search">
      <img class="profile_post_pic" src="{{item.post.user_id.avatar_file_name}}">
      <a href="/u/{{item.post.user_id.username}}"><h4>{{item.post.user_id.username}}</h4></a><h1></h1> <sub><abbr class="timeago" title="{{item.post.updated_at}}"></abbr></sub><br>
      <div>
      
      </div>
      <h3>{{item.post.text}}</h3> <br>
      <img ng-if="item.post.post_type=='Pic'" class="pic" data-post_id="{{item.post.id}}" />
      <iframe ng-show="item.post.post_type=='Song'" id="{{item.post.song_uri}}" class="playButton attached_song" src="/l_sc" data-uris="{{item.post.song_uri}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      <!--Side Bar Controll-->
      <div class="side-controll">

        <a ng-show="posted_at(item.post.user_id.id,item.post.posted_at) || owner(item.post.user_id.id,item.post.posted_at)" data-confirm="¿Seguro de que quieres borrarlo?" data-method="delete" href="/posts/{{item.post.id}}" rel="nofollow"><i class="fa fa-times-circle-o"> </i> Delete</a><br>

        <a ng-show="owner(item.post.user_id.id,item.post.posted_at)" href="/posts/{{item.post.id}}/edit"><i class="fa fa-edit"></i> Edit</a><br>

        <a href="javascript: void(0)" data-post_id="{{item.post.id}}" ng-click="fav_post(this, item.post.id)"><i class="fa fa-star"></i> <b id="post_fav_id_{{item.post.id}}_counter">{{item.total_favs}}</b> <span id="post_fav_id_{{item.post.id}}">Favs</span></a><br>

        <a href="javascript: void(0)">
        Faved by:
           <div ng-repeat="fav in post_favs[$index]">
            <i ng-if="$index < 2">{{fav.user_id.username}}</i>
          </div>
        </a>
      <!--End Of Side Bar Controll-->
      </div>

    </div>
  </div>
  
  <div id="section_2" class="section_inactive">
    <div>
      <h2>Nothing to see here, get off</h2>
      <iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:5Z7ygHQo02SUrFmcgpwsKW,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe" frameborder="0" height="380" allowtransparency="true"></iframe>
    </div>
  </div>

  <div id="section_3" class="section_inactive">
  <h1 ng-if="friends.length == 0">Get some friends, dude!</h1>
    <div ng-repeat="f in friends">
      <a href="/u/{{f.user_id.username}}"><h2>{{f.user_id.username}} </h2></a>
      
    </div>
  </div>

  <input class="hidden" id="pots_type" name="post[post_type]" value="Post" type="text" form="new_post">
  <input class="hidden" id="post_posted_at" name="post[posted_at]" value="<%= @u.id%>" type="text" form="new_post">
  <input class="hidden" id="post_asset" name="post[asset]" onchange="update(this)" type="file" form="new_post">

</div>
