<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Text</th>
      <th>Currentdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= userimage(post.user_id) %></td>
        <td><%= post.text %></td>
        <td><%= post.created_at.strftime("%Y-%m-%d %I:%M") %></td>
        <td><%= link_to 'Show', post %></td>
        <% if post.user_id == current_user %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
